
WpfApp1/.vs/WpfApp1/v16/Server/sqlite3/db.lock
WpfApp1/.vs/WpfApp1/DesignTimeBuild/.dtbcache
WpfApp1/.vs/WpfApp1/v16/.suo
WpfApp1/.vs/WpfApp1/v16/Server/sqlite3/storage.ide
WpfApp1/.vs/WpfApp1/v16/Server/sqlite3/storage.ide-shm
WpfApp1/.vs/WpfApp1/v16/Server/sqlite3/storage.ide-wal
WpfApp1/WpfApp1/bin/Debug/netcoreapp3.0/WpfApp1.deps.json
WpfApp1/WpfApp1/bin/Debug/netcoreapp3.0/WpfApp1.dll
WpfApp1/WpfApp1/bin/Debug/netcoreapp3.0/WpfApp1.exe
WpfApp1/WpfApp1/bin/Debug/netcoreapp3.0/WpfApp1.pdb
WpfApp1/WpfApp1/bin/Debug/netcoreapp3.0/WpfApp1.runtimeconfig.dev.json
WpfApp1/WpfApp1/bin/Debug/netcoreapp3.0/WpfApp1.runtimeconfig.json
WpfApp1/WpfApp1/Image/1.png
WpfApp1/.vs/WpfApp1/v16/.suo
